.carMain {
  width: 1200px;
  margin: auto;
}

.carMain .orderlist {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}

.carMain .orderlist li {
  margin: 0px 50px;
}

.carMain .orderlist li:nth-child(2) {
  width: 160px;
}

.carMain .ordercontent {
  margin-bottom: 40px;
}

.carMain .ordercontent .allcheck {
  margin-left: 50px;
  margin-bottom: 10px;
}

.carMain .ordercontent .allcheck span {
  color: red;
}

.carMain .ordercontent .orderLists {
  display: flex;
  padding-left: 60px;
  border: 1px solid #ccc;
}

.carMain .ordercontent .orderLists li {
  height: 80px;
}

.carMain .ordercontent .orderLists .listimg {
  padding: 20px 0px;
  width: 90px;
}

.carMain .ordercontent .orderLists .listtext {
  width: 250px;
  padding: 30px 0px;
}

.carMain .ordercontent .orderLists .listprice {
  padding: 50px 20px;
  font-size: 19px;
}

.carMain .ordercontent .orderLists .listamount {
  display: flex;
  padding: 50px;
}

.carMain .ordercontent .orderLists .listamount a {
  width: 30px;
  height: 20px;
  display: block;
  border: 1px solid;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}

.carMain .ordercontent .orderLists .listamount input {
  border: 1px solid;
  width: 30px;
  height: 20px;
}

.carMain .ordercontent .orderLists .listtotal {
  padding: 50px 60px 0px 0px;
  color: red;
  font-size: 18px;
}

.carMain .ordercontent .orderLists .del {
  padding-top: 50px;
}

.barwrapper {
  width: 1200px;
  height: 50px;
  background: gray;
  position: fixed;
  bottom: 0px;
  left: 112px;
}

.barwrapper .bar-right {
  float: right;
  display: flex;
  align-items: center;
}

.barwrapper .bar-right li {
  margin: 0px 5px;
}

.barwrapper .bar-right .piece {
  width: 110px;
  font-size: 18px;
}

.barwrapper .bar-right .piece span {
  color: red;
}

.barwrapper .bar-right .totalMoney {
  width: 117px;
  font-size: 18px;
}

.barwrapper .bar-right .totalMoney span {
  color: red;
}

.barwrapper .bar-right .calBtn {
  width: 120px;
  background: red;
  text-align: center;
}

.barwrapper .bar-right .calBtn a {
  color: white;
  font-size: 24px;
  line-height: 50px;
  display: block;
}
