body {

    font-family: Microsoft YaHei;

    font-style: normal;

    font-variant-ligatures: normal;

    font-variant-caps: normal;

    font-variant-numeric: normal;

    font-variant-east-asian: normal;

    font-weight: normal;

    font-stretch: normal;

    font-size: 12px;

    font: 12px/1.5 arial, "新宋体";

    min-width: 1350px;

}







.container {

    /* background: pink; */

    width: 990px;

    min-width: 990px;

    margin: 0 auto;

}



.contain {

    width: 1200px;

    margin: 0 auto;

    position: relative;

}



body {

    min-width: 1200px;

    font-family: Arial, "Microsoft Yahei";

    position: relative;

}



html {

    overflow-x: hidden;

    overflow-y: auto;

}





/* ------------------------------头部公用样式----------------------- */

#gm-head {

    height: 120px;

    /* background: blue; */

    overflow: hidden;

    /* 解决margin塌陷 */

    vertical-align: middle;

    z-index: 999;

    background: #f8f8f8;

}



#gm-head #logo {

    float: left;

    margin-top: 18px;

    margin-right: 40px;

    width: 300px;



}





    /* logo网站 */

  


/* -------------------------------------尾部共用样式 --------------*/

/* -------------------------------------尾部共用样式 --------------*/
#gm-footer {
    margin-top: 40px;
    position: relative;
    background: #f7f7f7;
    padding-left: 100px;
  }
  
  #gm-link {
    display: flex;
  }
  
  #gm-link .link {
    border-right: 1px solid #e6e6e6;
    padding-left: 15px;
  }
  
  #gm-link a {
    display: inline-block;
  }
  
  #gm-link .link li {
    float: left;
    font-size: 11px;
    color: #666666;
    margin-right: 15px;
  }
  
  #gm-link .link li:hover {
    color: red;
  }
  
  #gm-statement p {
    font-size: 11px;
    color: #999999;
    line-height: 22px;
    padding-left: 15px;
  }
  
  #gm-statement a {
    display: inline-block;
    color: #999999;
  }
  
  #gm-statement a:hover {
    color: red;
  }
  
  #gm-report {
    border-top: 1px solid #e6e6e6;
    margin-top: 6px;
    padding-top: 12px;
  }
  
  #gm-report .gm-reportBox {
    display: inline-block;
    margin-right: 35px;
  }
  
  #gm-report li {
    float: left;
    color: #999999;
    vertical-align: middle;
    font-size: 11px;
  }
  
  #gm-report .gm-reportBox li:nth-child(1) {
    width: 29px;
    height: 31px;
    background: url(../images/reports.png);
    background-repeat: no-repeat;
    margin-right: 3px;
  }
  
  #gm-report .gm-reportBox:nth-child(2) li:nth-child(1) {
    background-position: -34px 0;
  }
  
  #gm-report .gm-reportBox:nth-child(3) li:nth-child(1) {
    background-position: -67px 0;
  }
  
  #gm-report .gm-reportBox:nth-child(4) li:nth-child(1) {
    background-position: -103px 0;
  }
  
  #gm-report .gm-reportBox:nth-child(5) li:nth-child(1) {
    background-position: -141px 0;
  }
  
  #gm-report .gm-reportBox:nth-child(6) li:nth-child(1) {
    background-position: -171px 0;
  }
  
  #gm-report .gm-reportBox:nth-child(7) li:nth-child(1) {
    background-position: -207px 0;
  }
  
  #gm-report .gm-reportBox:nth-child(3) li:nth-child(2),
  #gm-report .gm-reportBox:nth-child(5) li:nth-child(2) {
    line-height: 31px;
  }
  
  .friend-link {
    position: absolute;
    right: 80px;
    top: 15px;
    font-size: 0;
    width: 250px;
    height: 112px;
    background: url(../images/friendlink.png);
  }
  
/* ---------------------右侧购物车栏-------------- */

