@charset "UTF-8";
.agreement {
  width: 900px;
  height: 500px;
  border: 1px solid gray;
  position: fixed;
  top: 20%;
  left: 20%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #082dff;
  padding: 5px;
  box-sizing: border-box;
  z-index: 10;
  background: white;
}

.agreement h5 {
  font-size: 18px;
  font-weight: 600;
  padding-left: 380px;
  margin-bottom: 10px;
}

.agreement p {
  font-size: 13px;
  margin-bottom: 10px;
}

.agreement a {
  padding-left: 36px;
  color: blue;
  display: block;
  margin-bottom: 6px;
}

.agreement .box1 {
  width: 820px;
  height: 77px;
  border: 1px solid gray;
  margin: auto;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.agreement .agree {
  display: flex;
  justify-content: center;
}

.agreement .agree li:nth-child(1) {
  border: 1px solid gray;
  color: gray;
}

.agreement .agree li {
  width: 100px;
  height: 30px;
  border: 1px solid red;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  margin: 0px 10px;
  color: red;
}

.reg {
  width: 900px;
  height: 600px;
  border: 1px solid #d4cdcd;
  position: relative;
  left: 200px;
  top: 70px;
}

.reg .regtop {
  display: flex;
  position: absolute;
  top: -51px;
  left: 100px;
}

.reg .regtop li {
  width: 200px;
  height: 50px;
  border: 1px solid #d4cdcd;
  background: #d4cdcd;
  text-align: center;
  line-height: 50px;
  margin: 0px 2px;
  color: #4b228b;
}

.reg .regtop span {
  position: absolute;
  bottom: 10px;
  right: -300px;
  font-size: 12px;
}

.reg .regtop .active {
  border-bottom: none;
  border-top: 1px solid red;
  background: white;
}

.reg .regbox {
  width: 1000px;
  height: 500px;
  padding: 20px;
}

.reg .regbox #box {
  width: 300px;
  height: 50px;
  background: #0af0f0;
  position: relative;
}

.reg .regbox #box #move {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #078fff;
  font-size: 30px;
  line-height: 50px;
  color: wheat;
  text-align: center;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.reg .regbox #box #hua {
  width: 0px;
  height: 50px;
  background: green;
  position: absolute;
  z-index: 2;
}

.reg .regbox #box .tip {
  position: absolute;
  z-index: 5;
  top: 30%;
  left: 45%;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.reg .regbox #box .tip1 {
  position: absolute;
  z-index: 5;
  top: 30%;
  left: 45%;
  display: none;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.reg .regbox .namereg {
  padding-left: 15px;
  margin-bottom: 30px;
}

.reg .regbox .message input {
  width: 100px;
}

.reg .regbox .message button {
  width: 89px;
  height: 30px;
}

.reg .regbox div {
  margin-bottom: 30px;
}

.reg .regbox label {
  vertical-align: middle;
}

.reg .regbox input {
  width: 250px;
  height: 30px;
  border: 1px solid black;
  font-size: 20px;
}

.reg .regbox .onreg {
  width: 250px;
  height: 40px;
  background: red;
  color: white;
  font-weight: 400;
  margin-left: 80px;
}
