.agreement{
    width: 900px;
    height: 500px;
    border: 1px solid gray;
    position: fixed;
    top: 20%;
    left: 20%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(8, 45, 255);
    padding: 5px;
    box-sizing: border-box;
    z-index: 10;
    background: white;
    // display: none;
    h5{
        font-size: 18px;
        font-weight: 600;
        padding-left: 380px;
        margin-bottom: 10px;
    }
    p{
        font-size: 13px;
        margin-bottom: 10px;
    }
    a{
       padding-left: 36px;
       color: blue;
        display: block;
        margin-bottom: 6px;
    }
    .box1{
        width: 820px;
        height: 77px;
        border: 1px solid gray;
        margin: auto;
        margin-bottom: 10px;
     overflow-y: scroll;

    }
    .agree{
        display: flex;
        justify-content: center;
        li:nth-child(1){
            border: 1px solid gray;
            color: gray;
        }
        li{
            width: 100px;
            height: 30px;
            border: 1px solid red;
            border-radius: 10px;
            text-align: center;
            line-height: 30px;
            margin:0px 10px;
            color: red;
        }
    }
}


// 注册表单样式

.reg{
    width: 900px;
    height: 600px;
    border: 1px solid rgb(212, 205, 205) ;
    position: relative;
    left: 200px;
    top: 70px;

    .regtop{
  display: flex;
  position: absolute;
  top: -51px;
  left: 100px;

  li{
      width: 200px;
      height: 50px;
      border: 1px solid rgb(212, 205, 205) ;
      background: rgb(212, 205, 205);
      text-align: center;
      line-height: 50px;
      margin: 0px 2px;
      color: rgb(75, 34, 139);
  }
  span{
      position: absolute;
    bottom: 10px;
    right: -300px;
    font-size: 12px;
  }
 
  .active{
      border-bottom: none;
    border-top: 1px solid red;
    background: white;
  }
    }

  
    .regbox{
        width:1000px;
        height: 500px;

        padding: 20px;
#box{

    width: 300px;
    height: 50px;
    background: rgb(10, 240, 240);
    position: relative;
    #move {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgb(7, 143, 255);
        font-size: 30px;
        line-height: 50px;
        color: wheat;
        text-align: center;
        -moz-user-select: none;
        /*火狐*/
        -webkit-user-select: none;
        /*webkit浏览器*/
        -ms-user-select: none;
        /*IE10*/
        -khtml-user-select: none;
        /*早期浏览器*/
        user-select: none;
    }
    #hua {
        width: 0px;
        height: 50px;
        background: green;
        position: absolute;
        z-index: 2;
    }
    .tip {
        position: absolute;
        z-index: 5;
        top: 30%;
        left: 45%;
        -moz-user-select: none;
        /*火狐*/
        -webkit-user-select: none;
        /*webkit浏览器*/
        -ms-user-select: none;
        /*IE10*/
        -khtml-user-select: none;
        /*早期浏览器*/
        user-select: none;
    }
    .tip1 {
        position: absolute;
        z-index: 5;
        top: 30%;
        left: 45%;
        display: none;
        -moz-user-select: none;
        /*火狐*/
        -webkit-user-select: none;
        /*webkit浏览器*/
        -ms-user-select: none;
        /*IE10*/
        -khtml-user-select: none;
        /*早期浏览器*/
        user-select: none;
    }
}
        
  .namereg{
      padding-left: 15px;
      margin-bottom: 30px;
  }
  .message{
 input{
     width: 100px;
 }
 button{
     width: 89px;
     height: 30px;
 }
  }
  div{
    margin-bottom: 30px;
  }
  label{
    vertical-align:middle;
  }
        input{
            width: 250px;
            height: 30px;
            border: 1px solid rgb(0, 0, 0);
            font-size: 20px;
           
        }


        .onreg{
            width: 250px;
            height: 40px;
            background: red;
            color: white;
            font-weight: 400;
            margin-left: 80px;
        }
    }

}

