@charset "UTF-8";
html, body {
  height: 100%;
}

.box {
  height: 100%;
}

.box header {
  height: 50px;
  background: black;
  margin: auto;
  position: relative;
}

.box header ul {
  height: 50px;
  width: 1226px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box header ul li .a1 {
  padding-left: 30px;
}
#bo1{
  width: 100px;
  height: 100px;
  background: green;
  position: absolute;
  right: 80px;
  display: none;
}
.box header ul li a {
  color: white;
  margin: 0px 5px;
  font-size: 15px;
}

.box header ul li a:hover {
  color: orange;
}

.box nav {
  width: 1226px;
  margin: auto;
  height: 100px;
  display: flex;
  align-items: center;
}

.box nav .left {
  height: 100px;
  width: 234px;
  display: flex;
}

.box nav .left h1 {
  display: inline-block;
  text-indent: -999px;
}

.box nav .left img {
  width: 234px;
}

.box nav .middle {
  display: flex;
  padding-right: 30px;
}

.box nav .middle li {
  margin: 0px 10px;
  font-size: 15px;
}

.box nav input {
  height: 50px;
  border: 1px solid;
  width: 234px;
}

.box nav a {
  display: block;
  width: 50px;
  height: 48px;
  border: 1px solid;
  border-left: none;
  text-align: center;
  line-height: 48px;
}

.box main {
  height: 830px;
  width: 1226px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box main .banner {
  height: 460px;
  background: url(../images/banner.jpg);
  background-position: center;
  background-size: 100%;
  display: flex;
}

.box main .banner aside {
  height: 100%;
  width: 233px;
  background: gray;
  opacity: .8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box main .banner aside p {
  display: flex;
  justify-content: space-around;
  color: white;
}

.box main .banner aside p a {
  color: white;
}

.box main .banner-middle {
  display: flex;
  justify-content: space-between;
}

.box main .banner-middle li {
  width: 316px;
  height: 170px;
}

.box main .banner-middle li:nth-child(1) {
  width: 234px;
  height: 170px;
  background: #5f5750;
  display: flex;
  flex-wrap: wrap;
}

.box main .banner-middle li:nth-child(1) p {
  width: 33%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box main .banner-middle li:nth-child(1) p img {
  width: 22px;
  height: 22px;
}

.box main .banner-middle li:nth-child(2) {
  background: url(../images/lili1.jpg);
  background-size: 100%;
}

.box main .banner-middle li:nth-child(3) {
  background: url(../images/lili2.jpg);
  background-size: 100%;
}

.box main .banner-middle li:nth-child(4) {
  background: url(../images/lili3.jpg);
  background-size: 100%;
}

.box main .banner-footer {
  height: 120px;
  background: url(../images/footer.jpg);
  background-size: 100%;
}

.box .phone {
  height: 896px;
  background-color: #f5f5f5;
  padding: 0px 90px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box .phone .phone-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .phone .phone-header span {
  font-size: 20px;
}

.box .phone .phone-middle {
  height: 614px;
  display: flex;
  justify-content: space-between;
}

.box .phone .phone-middle .p-right {
  width: 978px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.box .phone .phone-middle .p-right li {
  width: 23%;
  height: 47%;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
}

.box .phone .phone-middle .p-right li h2 {
  width: 64px;
  height: 20px;
  background: green;
  color: white;
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
}

.box .phone .phone-middle .p-right li img {
  margin-bottom: 30px;
}

.box .phone .phone-middle .p-right li h4 {
  color: #5f5750;
  font-size: 12px;
  margin-bottom: 10px;
}

.box .phone .phone-middle .p-right li span {
  color: red;
}

.box .phone .phone-middle .p-right li span::after {
  content: "1000元";
  color: gray;
  text-decoration: line-through;
}

.box .phone .phone-footer {
  height: 120px;
  background: url(../images/footer.jpg);
  background-size: 100%;
}

.box .box2 {
  background-color: #f5f5f5;
  padding-bottom: 60px;
}

.box .box2 .recommend {
  width: 1226px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box .box2 .recommend .recom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .box2 .recommend .recom-header h2 {
  font-size: 22px;
}

.box .box2 .recommend .recom-header .recom-h-a {
  display: flex;
}

.box .box2 .recommend .recom-header .recom-h-a a {
  display: block;
  width: 36px;
  height: 22px;
  border: 1px solid gray;
  text-align: center;
  color: gray;
}

.box .box2 .recommend .recom-footer {
  display: flex;
  justify-content: space-between;
}

.box .box2 .recommend .recom-footer li {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 236px;
  height: 300px;
}

.box .box2 .recommend .recom-footer li h4 {
  color: red;
}

.box .box2 .content {
  width: 1226px;
  margin: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box .box2 .content .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .box2 .content .content-header h2 {
  font-size: 22px;
}

.box .box2 .content .content-footer {
  height: 416px;
  display: flex;
  justify-content: space-between;
}

.box .box2 .content .content-footer li {
  width: 296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
}

.box .box2 .content .content-footer li h3 {
  text-align: center;
  width: 236px;
}

.box .box2 .content .content-footer li h4 {
  font-size: 12px;
  color: #5e5858;
}

.box .box2 .content .content-footer li p span:nth-child(2) {
  color: red;
}

.box .box2 .video {
  display: flex;
  flex-direction: column;
  height: 330px;
  width: 1226px;
  margin: auto;
}

.box .box2 .video .video-header {
  margin-bottom: 40px;
}

.box .box2 .video .video-header span {
  float: left;
  display: block;
  font-size: 20px;
}

.box .box2 .video .video-header a {
  display: block;
  float: right;
}

.box .box2 .video .video-footer {
  height: 288px;
  display: flex;
  justify-content: space-between;
}

.box .box2 .video .video-footer li {
  width: 296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.box .box2 .video .video-footer li img {
  margin-bottom: 20px;
}

.box .box2 .video .video-footer li h3 {
  margin-bottom: 20px;
}

.box .box2 .video .video-footer li p {
  font-size: 10px;
  color: #5f5750;
}

.box footer {
  height: 284px;
}

.box footer .footer-h {
  height: 80px;
  width: 1226px;
  margin: auto;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.box footer .footer-h li {
  width: 25%;
  font-size: 18px;
  text-align: center;
  border: 1px solid;
  border-top: none;
  border-bottom: none;
}

.box footer .footer-h li:nth-child(1) {
  border-left: none;
}

.box footer .footer-h li:nth-child(5) {
  border-right: none;
}

.box footer .footer-f {
  height: 150px;
  display: flex;
  width: 1226px;
  margin: auto;
}

.box footer .footer-f ul {
  flex: 4;
  display: flex;
}

.box footer .footer-f ul li {
  width: 16.6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box footer .footer-f ul li p:nth-child(1) {
  font-size: 20px;
  margin-bottom: 10px;
}

.box footer .footer-f .f-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box footer .footer-f .f-right h2 {
  font-size: 24px;
  color: orange;
}

.box footer .footer-f .f-right a {
  display: block;
  width: 100px;
  height: 40px;
  border: 2px solid orange;
  text-align: center;
  line-height: 40px;
}
