html,body{
    height: 100%;
}

.box{
    height: 100%;
  

    header{
        height: 50px;
        background: black;
        margin: auto;

        ul{
            height: 50px;
            width: 1226px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li{
               
                .a1{
                    padding-left: 30px;
                }
                
                a{
                    color: white; 
                    margin: 0px 5px;    
                    font-size: 15px;              
                }
                a:hover{
                    color: orange;
                }
            }
        }
    }

    nav{
        width: 1226px;
        margin: auto;
        height: 100px;
        display: flex;
        align-items: center;
        
      .left{
        
         height: 100px;
         width: 234px;
         display: flex;
        
        h1{
            display: inline-block;
            text-indent: -999px;
        }
        img{
            width: 234px;
        }
        
       
    
      }

      .middle{
          display: flex;
         
         padding-right: 30px;
         li{
             margin: 0px 10px;
             font-size: 15px;
         }
      }
           
           input{
               height: 50px;
               border: 1px solid;
               width: 234px;
           } 
           a{
               display: block;
               width: 50px;
               height: 48px;
               border: 1px solid;
               border-left: none;
               text-align: center;
               line-height: 48px;
           }
        
    }
    main{
        
        height: 830px;
        width: 1226px;
        margin: auto;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      

        .banner{
            height: 460px;
            background: url(../images/banner.jpg);
            background-position: center;
            background-size: 100%;
            display: flex;
           
            aside{
                height: 100%;
                width: 233px;
                background: gray;
                opacity: .8;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                p{
                    display: flex;
                    justify-content: space-around;
                    color: white;

                    a{
                        color: white;
                        
                    }
                   
                }
            }
        }  
        .banner-middle{
            display: flex;
            justify-content: space-between;
             li{
                 width: 316px;
                 height: 170px;
                 
             }
            li:nth-child(1){
                width: 234px;
                height: 170px;
                background:#5f5750;
                display: flex;
                flex-wrap: wrap;
                
                p{
                    width: 33%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    
                    
                    img{
                        width: 22px;
                        height: 22px;
                    }
                }
            }
            li:nth-child(2){
               background:url(../images/lili1.jpg);
               background-size: 100%;
            }
            li:nth-child(3){
                background:url(../images/lili2.jpg);
                background-size: 100%;
             }
             li:nth-child(4){
                background:url(../images/lili3.jpg);
                background-size: 100%;
             }
        }
        .banner-footer{
            height: 120px;
            background: url(../images/footer.jpg);
            background-size: 100%;
        }
    }
    .phone{
        height: 896px;
        background-color: #f5f5f5;
        padding: 0px 90px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
       

        .phone-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
                font-size: 20px;
            }
        }

        .phone-middle{
            height: 614px;
            display: flex;
            justify-content: space-between;

            .p-right{
                width: 978px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: space-between;

                li{
                    width: 23%;
                    height: 47%;
                    display: flex;
                    flex-direction: column;
                    background: white;
                    align-items: center;

                    h2{
                        width: 64px;
                        height: 20px;
                        background: green;
                        color: white;
                        text-align: center;
                        line-height: 20px;
                        margin-bottom: 10px;


                    }
              img{
                  margin-bottom: 30px;
              }
                    h4{
                        color: #5f5750;
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                    span{
                        color: red;
                        
                        
                    }
                   span::after{
                       content: "1000元";
                       color:gray;
                       text-decoration: line-through;
                   }
                }
            }
        }
          
       .phone-footer{
        
            height: 120px;
            background: url(../images/footer.jpg);
            background-size: 100%;
        
       }
    }
    .box2{
        background-color: #f5f5f5;
        padding-bottom: 60px;

        .recommend{
            width: 1226px;
            height: 400px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
                
            .recom-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                 h2{
                     font-size: 22px;
    
                 }
                 .recom-h-a{
                     display: flex;
                    a{
                        display: block;
                        width: 36px;
                        height: 22px;
                        border: 1px solid gray;
                        text-align: center;
                        color: gray;
                    }
                 }
              
            }
            .recom-footer{
                   display: flex;
                   justify-content: space-between;
                li{
                    background: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 236px;
                    height: 300px;
    
                    h4{
                        color: red;
                    }
     
                }
            }
        }

        .content{
            width: 1226px;
            margin: auto;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .content-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2{
                    font-size: 22px;
   
                }
            }
            .content-footer{
                height: 416px;
                display: flex;
                justify-content: space-between;

                li{
                    width: 296px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    background: white;

                    h3{
                        text-align: center;
                        width: 236px;
                    }
                    h4{
                        font-size: 12px;
                        color: #5e5858;
                    }
                    p span:nth-child(2){
                        color: red;
                    }
                }
            }
        }
         .video{
             
             display: flex;
             flex-direction: column;
             height: 330px;
             width: 1226px;
             margin: auto;
     
             .video-header{
            margin-bottom: 40px;
           
              
                
                
    
                span{
                    float: left;
                    display: block;
                    font-size: 20px;
                }
                a{
                    display: block;
                    float: right;
                }
            }
            .video-footer{
              
                height: 288px;
                display: flex;
                justify-content: space-between;
                
                li{
                    width: 296px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: white;
                    img{
                        margin-bottom: 20px;
                    }
                    h3{
                        margin-bottom: 20px;
                    }
                    p{
                        font-size: 10px;
                        color: #5f5750;
                    }
                }
            }

         }
        
    }
   footer{

       height: 284px;

       .footer-h{
           height: 80px;
           width: 1226px;
           margin: auto;
           border-bottom: 1px solid gray;
           display: flex;
           align-items: center;
           margin-bottom: 30px;
     
           li{
               width: 25%;
               font-size: 18px;
               text-align: center;
               border: 1px solid;
               border-top:none;
               border-bottom:none;

           }
           li:nth-child(1){
               border-left: none;
           }
           li:nth-child(5){
            border-right: none;
        }
       }
       .footer-f{
           height: 150px;
           display: flex;
           width: 1226px;
           margin: auto;
            
            ul{
                flex: 4;
                display: flex;
                li{
                    width: 16.6%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    

                    p:nth-child(1){
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                
                }
            }

            .f-right{
                flex:1;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2{
                    font-size: 24px;
                    color: orange;
                }

                a{
                    display: block;
                    width: 100px;
                    height: 40px;
                    border:  2px solid orange;
                    text-align: center;
                    line-height: 40px;
                }
            }
       

       }
   }
} 